.container_hamburger {
    background-color: rgb(124, 96, 96);
}

.ul-hamburger {
    list-style: none;
}

.li-hamburger {
    text-decoration: none;
    color: aliceblue;
    font-family: serif;
    font-size: large;
    padding: 10px 20px;
}

.li-hamburger a {
    cursor: pointer
}

.logo {
    padding: 10px;
    width: 80px;
    object-fit: contain;
}

h3 {
    padding: 10px 20px;
    border-bottom: 1px solid black;
}