* {
    font-family: 'Work Sans', sans-serif;
}

.search {
    margin-right: 10px;
    margin-left: auto;
    width: 23px;
    object-fit: contain;
    filter: invert(1);
}

.search-menu {
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
    transition-timing-function: ease-in-out;
    transition: all 0.5s;
}

.search-menu.block {
    width: 100%;
    height: 100%;
    z-index: 2;
    display: block;
}

.back-arrow {
    min-width: 35px;
    width: 35px;
    position: absolute;
    top: 1rem;
    left: 1rem;
    filter: invert(1);
}

.search-inside-menu {
    object-fit: contain;
    width: 5%;
    filter: invert(1);
    margin-right: 10px;
    min-width: 20px;
}

form {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 2rem;
    margin: 0 auto;
}

input {
    border: 1px solid rgb(122, 247, 226);
    width: 15rem;
    background: #030000a1;
    padding: 5px;
    color: rgb(122, 247, 226);
}

.Colomn {
    height: 100%;
    display: flex;
    justify-content: center;
}

.root {
    overflow: hidden;
    position: fixed;
}

.card-list {
    width: 100%;
    position: absolute;
    top: 7rem;
    left: 0;
    height: 30rem;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px;
    gap: 5px;
    justify-content: center;
    background-color: transparent;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
    transition-timing-function: ease-in-out;
    transition: all linear 0.5s;
}

.card-root {
    display: flex;
}

.card-content {
    display: none;
}

.card-image {
    width: 100%;
    height: 100%;
    transition-timing-function: ease-in-out;
    transition: 400ms;
    padding: 5px;
}

.card-image:hover {
    transform: scale(1.2);
}

.movieTrailer-container {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    width: 70%;
    height: 35rem;
    background-color: black;
    z-index: 5;
    overflow-y: scroll;
}

.col-sm-4 {
    text-align: center;
    display: flex;
    align-items: center;
}

iframe.youtube-trailer {
    display: flex;
    margin: 0 auto;
    width: 100%;
    min-height: 350px;
}

.video-stream.html5-main-video {
    width: 100%;
}

.movie-description {
    text-align: center;
    padding: 10px;
    padding-bottom: 4rem;
}

.movie-description h1 {
    color: white;
    font-size: 2rem;
}

.movie-description h2 {
    color: #dbdada;
    text-align: justify;
    padding: 0 10px 0;
    font-size: 1rem;
}

.body-to-close-movieTrailer {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    -webkit-background-composite: #71666685;
    -webkit-background-origin: #71666685;
    -webkit-background-clip: #71666685;
    background-color: #71666685;
    z-index: 1;
}

@media (max-width: 800px) {
    div.card-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 600px) {
    div.card-list {
        grid-template-columns: repeat(3, 1fr);
    }
    div.movieTrailer-container {
        width: 100%;
        top: 20%;
    }
}

@media (max-width:570px) {
    .back-arrow {
        top: -0rem;
        left: -2rem;
    }
}

@media (max-width: 400px) {
    div.card-list {
        grid-template-columns: repeat(2, 1fr);
    }
    .search-inside-menu {
        display: none;
    }
    .back-arrow {
        top: -0.5rem;
        left: -2rem;
    }
}