* {
    font-family: 'Work Sans', sans-serif;
}

.search {
    margin-right: 10px;
    margin-left: auto;
    width: 23px;
    object-fit: contain;
    filter: invert(1);
}

.search-menu {
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
    transition-timing-function: ease-in-out;
    transition: all 0.5s;
}

.search-menu.block {
    width: 100%;
    height: 100%;
    z-index: 2;
    display: block;
}

.back-arrow {
    position: fixed;
    object-fit: contain;
    width: 2%;
    top: 1rem;
    left: 1rem;
    filter: invert(1);
    cursor: pointer;
}

.search-inside-menu {
    object-fit: contain;
    width: 5%;
    filter: invert(1);
    margin-right: 10px;
}

form {
    position: absolute;
    top: 2rem;
    margin: 0 -10%;
}

input {
    border: 1px solid #730000c4;
    width: 15rem;
    background: #030000a1;
    padding: 5px;
    color: #ff5252b5;
}

.Colomn {
    height: 100%;
    display: flex;
    justify-content: center;
}

.body-for-search {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: #71666685;
    z-index: 1;
    opacity: 98%;
}

.root {
    overflow: hidden;
    position: fixed;
}

.card-list {
    width: 100%;
    position: absolute;
    top: 7rem;
    left: 0;
    height: 30rem;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px;
    gap: 5px;
    justify-content: center;
    background-color: transparent;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
    transition-timing-function: ease-in-out;
    transition: all linear 0.5s;
}

.card-root {
    display: flex;
}

.card-content {
    display: none;
}

.card-image {
    width: 100%;
    height: 100%;
    transition-timing-function: ease-in-out;
    transition: all 4s;
}

.movieTrailer-container {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
    width: 70%;
    height: 35rem;
    background-color: black;
    z-index: 1;
    overflow-y: scroll;
}

.youtube-trailer {
    display: flex;
    margin: 0 auto;
    width: 80%;
    height: 350px;
}

.video-stream.html5-main-video {
    width: 100%;
}

.movie-description {
    text-align: center;
}

.movie-description h1 {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 2rem;
}

.movie-description h2 {
    color: #dbdada;
    text-align: justify;
    padding: 0 10px 0;
    font-size: 1rem;
}