.Nav {
    background-color: transparent;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    padding: 10px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 1s;
}

.nav_black {
    background-color: black;
}

img.search {
    z-index: -1;
}

.dropdown {
    z-index: -1;
}

.Logo {
    padding: 0 5px;
    margin-bottom: 20px;
    width: 35%;
    object-fit: contain;
    border-radius: 5px;
    filter: drop-shadow(20px 20px 10px rgba(25, 121, 128, 0.8));
}

a#collasible-nav-dropdown {
    color: white;
    text-decoration: none;
}