.Logo-ham {
    width: 20px;
    height: 20px;
    padding: 2px;
    margin: 0 10px;
}

.ham {
    width: 28px;
    height: 2px;
    margin: 8px 0;
    background-color: white;
}

.hamburgerMenu {
    width: 30%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-500px);
    transition-timing-function: ease-in-out;
    transition: all 1s;
}

.body-next-HAM {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: #71666685;
    z-index: -1;
    transition-timing-function: ease-in-out;
    transition: all 0.5s;
}

.root {
    overflow: hidden;
    position: fixed;
}

@media (max-width: 599px) {
    .hamburgerMenu {
        min-width: 250px;
    }
}